*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: white;
    color:rgb(19, 55, 71);

}
.app-btn{
    margin-top: 7px;
    width: 100px;
    height: 20px;
    font-size: small;
    color:grey;
    background: none;
    border: 0.75px solid grey;
    border-radius: 7px;
    cursor: pointer;
}
.app-btn:hover{
    background-color:rgb(30, 78, 98);
    border:none;
    transition: ease-in-out 0.75s;
    color:white;

}
p{
    font-size: small;
}
.App-header {
    background:none;
    border-bottom:0.5px solid rgb(203, 203, 203);
    height:70px;
    padding: 10px;
    text-align: center;
}
.App-header > .logo{
    width: 50px;
    height: 50px;
    font-family: 'Times New Roman';
    border-radius: 50%;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(0, 49, 154);
}

.App-Navigation{
    display:flex;
    justify-content:flex-end;
    align-items: center;
}
.App-Navigation > .nav-link {
    margin-left: 20px;
    color:rgb(44, 82, 100);
    text-decoration: none;
    font: weight 300px;
}
.App-body{
    padding: 20px;
}
.products-container{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.product-cart{
    height: 320px;
    width: 170px;
    padding: 10px;
    background:none;
    border-radius: 5px 5px 20px 5px;
    box-shadow: 0 0 5px grey;
    position: relative;
}
.product-cart:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
.product-cart > img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}
.product-details-pos{
    position: absolute;
    bottom: 10px;
}
.product-details-pos .product-rating{
    font-size: 14px;
    color: #b1abab;
}

.product-details-pos .product-btn{
    bottom:10px;
}

.App-footer{

    border-top:0.5px solid  rgb(203, 203, 203);
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
}
.form{
    display: flex;
    justify-content: center;
}
.form > .login-form{
    width: 300px;
    height: 300px;
    padding: 20px;
    margin-top: 30px ;

    color:black;

    border: 1.25px solid rgb(228, 213, 203);
    border-radius: 5px 5px 20px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.form >.signup-form{
    width: 300px;
    height: 300px;
    padding: 20px;
    margin-top: 30px ;

    color:black;

    border: 1.25px solid rgb(228, 213, 203);
    border-radius: 5px 5px 20px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}